.main {
  display: flex; /* Will be hidden on mobile */
  flex-direction: row;
  grid-area: main;
  background-color: #ffffff;
  align-items: center;
}

#contenedor-configuracion {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: flex-start;
  min-width: 400px;
  padding-left: 48px;
}

#contenedor-2 {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  box-sizing: border-box;
}

.grafico {
  margin: 24px 24px;
}

.contenedores-inputs{
  display: flex;
  flex-direction: column;
  align-items: left;
  flex-wrap: wrap;
}

.contenedor-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
}

.contenedor-inputs label{
  padding-right: 8px;
  font-size: 1.0em;
}

.contenedor-inputs input{
  border-radius: 5px;
  height: 20px;
  background-color: #fafafd;
  width: 80px;
  border-style: solid;
  border-color: rgb(175, 174, 174);
  border-width: 1px;
 }
  
 .contenedor-inputs select{
  border-radius: 5px;
  height: 25px;
  background-color: #fafafd;
  border-style:solid;
 }
  
.card-title {
  padding-top: 24px;
  color:#615f5f;
  font-family: Arial, Helvetica, sans-serif;
}

.icono-reload {
  padding-right: 10px;
}

.boton-prediccion {
  font-size: 1.0em;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}

.submit-prediccion{
  display: flex;
  justify-content: flex-start;
  padding-top: 24px;
  padding-right: 24px;
  width: 300px;
}

.submit-prediccion svg {
  padding-left: 25px;
  padding-right: 25px;
}

.contenedor-grafico {
  flex: 2;
  margin-right: 20px;
}

.contenedor {
  display: flex;
  flex-direction: row;
}
.boton-descarga{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.boton-descarga svg {
  margin-right: 14px;
}